.body {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", sans-serif;
    background-color: #F2F2F2;
}

.body__line {
    height: 1px;
    background-color: #D9FFF5;
}

.wrapper {
    padding-left: 16px;
    padding-right: 16px;
}

.flex-container {
    display: flex;
    gap: 16px;
}

.button {
    height: 40px;
    width: 40px;
    border: none;
    padding: 0;
    background-color: white;
    border-radius: 20px;
}

.button__burger {
    background-image: url(c25d0fa6ccfd708899f7.svg);
}

.button__call {
    background-image: url(7186507fd3a99447fcd8.svg);
}

.button__chat {
    background-image: url(d05352abb256f8e4ab14.svg);
}

.button__profile {
    background-image: url(74857a143041264b597f.svg);
}

.button__repair {
    background-image: url(0e897100802b427aae01.svg);
}

.button__checkstatus {
    background-image: url(76c6ccf4168cea7c4e3e.svg);
}

.button__go {
    background-image: url(2d1ebf655d6df4f34b06.svg);
}

.button--bg-color--main-page {
    background-color: #F8F8F8;
}

.brand-card {
    display: flex;
    padding: 0 16px;
    width: 240px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.text-button {
    display: flex;
    align-items: center;
}

.text-button__text {
    margin-right: 9px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    font-weight: 500;
    color: #1B1C21;
}

.link {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 88px;
    background-color: #FFFFFF;
}

.header__columns {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left-column {
    margin-right: 20px;
}

.header__center-column {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header__center-column > .flex-container > .button {
    display: none;
}

.header__divider {
    height: 32px;
    border-right: 2px solid #EAEAEA;
    border-radius: 1px;
    margin-right: 20px;
}

.header__left-column + .header__divider {
    display: none;
}

.main {
    background-color: #F8F8F8;
    padding-top: 24px;
}

.main__title-right {
    display: none;
}

.main__title-container {
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
}

.main__menu {
    margin-top: 24px;
}

.main__about {
    margin-top: 24px;
    margin-bottom: 24px;
}

.main__content {
    padding: 0 16px;
}

.title {
    position: relative;
    margin: 0;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
}

.title::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #41F6D7;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-list {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    overflow-x: auto;
    list-style-type: none;
    white-space: nowrap;
}

.menu-list::after {
    content: "";
    position: fixed;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.menu-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.menu-list__item {
    padding: 6px 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    color: #7E7E82;
    cursor: pointer;
    font-weight: 500;
}

.menu-list__item--selected {
    background-color: white;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
}

.about {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.about__content {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #1B1C21;
}

.about__content-mobile {
    display: block;
}

.about__content-tablet {
    display: none;
}

.about__content-desktop {
    display: none;
}

.about__read-more {
    margin-top: 10px;
}

.expand {
    cursor: pointer;
    display: flex;
    font-size: 16px;
    gap: 8px;
    font-weight: 500;
    line-height: 24px;
    color: #1B1C21;
}

.swiper-brands {
    padding-bottom: 17px;
}

.swiper-brands__swiper {
    position: relative;
    overflow: hidden;
    margin-top: 16px;
}

.swiper-brands__swiper::after {
    content: "";
    position: absolute;
    right: -1px;
    bottom: 0;
    z-index: 10;
    width: 24px;
    height: 81px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.swipe {
    position: relative;
    overflow: hidden;
}

.swiper-title {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    background: linear-gradient(-270deg, #F8F8F8 0, #FFFFFF 98.61%);
}

.swiper-wrapper {
    flex-wrap: nowrap;
}

.swiper-slide {
    width: auto !important;
}

.swiper-brands__pagination {
    margin-top: 9px;
}

.swiper-pagination {
    position: static !important;
}

.swiper-brands__expand {
    display: none;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD !important;
    height: 12px !important;
    width: 12px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #B5B6BC !important;
}

.swiper-wrapper--hidden {
    display: none;
}
@media screen and (min-width: 768px) {
    .wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header__left-column {
        margin-right: 0;
    }

    .header__divider {
        margin: 0 20px;
    }

    .header__left-column + .header__divider {
        display: block;
    }

    .header__center-column > .flex-container > .button {
        display: block;
    }

    .main__menu {
        margin-top: 32px;
    }

    .main__about {
        margin-top: 32px;
        margin-bottom: 32px;
        padding: 0 24px;
    }

    .main__content {
        padding: 0;
    }

    .about {
        gap: 48px;
        flex-direction: row;
    }

    .about__content {
        flex-basis: 43%;
    }

    .about__content-tablet {
        display: inline;
    }

    .about__image {
        flex-grow: 1;
        border-radius: 6px;
    }

    .swiper-brands {
        padding-bottom: 34px;
    }

    .swiper-brands__swiper {
        margin-top: 24px;
        height: 160px;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-wrapper {
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 24px;
    }

    .swiper-brands__expand {
        display: flex;
        margin-top: 24px;
    }

    .brand-card {
        width: 224px;
    }
}
@media screen and (min-width: 1120px) {
    .wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header {
        display: none;
    }

    .main {
        padding-top: 42px;
        max-width: 1120px;
        margin: auto;
    }

    .main__title-right {
        display: flex;
        column-gap: 32px;
    }

    .main__menu {
        margin-top: 8px;
    }

    .main__about {
        margin-top: 16px;
        margin-bottom: 51px;
        padding: 0 32px;
    }

    .about__content {
        flex-basis: 47%;
    }

    .about__content-desktop {
        display: inline;
    }

    .menu-list {
        flex-wrap: wrap;
        row-gap: 8px;
    }

    .menu-list::after {
        content: none;
    }

    .brand-card {
        width: 240px;
    }

    .swiper-brands {
        padding-bottom: 50px;
    }

    .swiper-wrapper {
        column-gap: 32px;
    }
}

@font-face {
    font-family: 'TT Lakes';
    src: url(c241ebcfcbd5a82503ea.eot);
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url(c241ebcfcbd5a82503ea.eot?#iefix) format('embedded-opentype'),
        url(5fe27ad211f7b79014fc.woff) format('woff'),
        url(8747246cd48097156cbb.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'TT Lakes';
    src: url(018ab39c10b6a4a7146a.eot);
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url(018ab39c10b6a4a7146a.eot?#iefix) format('embedded-opentype'),
        url(fe25154d26f37feaf90c.woff) format('woff'),
        url(1db5f8df31efefe6bea1.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(c794c866fb368b7f82aa.eot);
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url(c794c866fb368b7f82aa.eot?#iefix) format('embedded-opentype'),
        url(ecf08c49b0b1d4d71f5b.woff) format('woff'),
        url(a0bf8bd54132d614be5d.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}




/*@import '~swiper';*/
