.wrapper {
    padding-left: 24px;
    padding-right: 24px;
}

.header__left-column {
    margin-right: 0;
}

.header__divider {
    margin: 0 20px;
}

.header__left-column + .header__divider {
    display: block;
}

.header__center-column > .flex-container > .button {
    display: block;
}

.main__menu {
    margin-top: 32px;
}

.main__about {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0 24px;
}

.main__content {
    padding: 0;
}

.about {
    gap: 48px;
    flex-direction: row;
}

.about__content {
    flex-basis: 43%;
}

.about__content-tablet {
    display: inline;
}

.about__image {
    flex-grow: 1;
    border-radius: 6px;
}

.swiper-brands {
    padding-bottom: 34px;
}

.swipe {
    padding-top: 24px;
}

.swiper-pagination {
    display: none;
}

.swiper-wrapper {
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
}

.swiper-brands__expand {
    display: flex;
    margin-top: 24px;
}

.brand-card {
    width: 224px;
}