.button {
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  background-color: white;
  border-radius: 20px;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 2px black);
  }

  &__burger {
    background-image: url("~/img/burger.svg");
  }

  &__call {
    background-image: url("~/img/call.svg");
  }

  &__chat {
    background-image: url("~/img/chat.svg");
  }

  &__profile {
    background-image: url("~/img/profile.svg");
  }

  &__repair {
    background-image: url("~/img/repair.svg");
  }

  &__checkstatus {
    background-image: url("~/img/checkstatus.svg");
  }

  &__search {
    background-image: url("~/img/search.svg");
  }

  &__close {
    background-image: url("~/img/close.svg");
  }

  &__go {
    background-image: url("~/img/go.svg");
  }

  &--bg-color--main-page {
    background-color: #F8F8F8;
  }
}

